{% extends 'BusinessAnnuaireBundle::layout.html.twig' %}

{%block body%}

        <div class="grid_1">

            
         {{ render(controller('BusinessAnnuaireBundle:Annuaire:dernierinscription'))}}  
         {{ render(controller('BusinessAnnuaireBundle:Annuaire:dernierannonces'))}}  
         {{ render(controller('BusinessAnnuaireBundle:Annuaire:dernierpromotions'))}}  
            
            
  
<!--dérnier inscriptions-->

<div class="clear"></div>
<div class="clear"></div>

</div> <!--End include left-->

<!--include right-->
<div class="grid_2">

<!--Pub right Annonceurs-->
<div class="box-stand">
<div class="wrap ">
<h4>À découvrir</h4>
<table style="width:100%;" class="tabsoc">
  <tr>
    <td>Promotions</td>
  </tr>
</table>

</div>
<div class="clear"></div>
</div> <!--Annonceurs-->

<div class="box-pub">
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Carée-->
<div class="box-pub2">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FTunisieBusiness&amp;width=270&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=464406206983700" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:290px;" allowTransparency="true"></iframe>
</div> <!--FB like blocs-->
<div class="box-pub2">
<!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-width="250" data-href="https://plus.google.com/105367995533699353729" data-showtagline="false" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = '../apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div> <!--FB like blocs-->
<div class="box-pub2">
				<!-- Start photoslider-mini -->
				<div class="sliderkit photoslider-maxi" style="width:252px;height:600px;">
					<div class="sliderkit-panels">
						

						
						<div class="sliderkit-panel">
						
                                                </div>
						<div class="sliderkit-panel">
								</div>
					</div>
				</div>
				<!-- // end of photoslider-mini -->
	<div class="clear"></div>
</div> <!--Bloc pub Large-->
</div> <!--End include right-->

<div class="clear"></div> <!--Clear-->

</div>
</section>
       
<div class="line-2"></div>	<!--line-->
<div class="container_12">


<div class="clear"></div>
</div>
{%endblock%}