{% extends 'base.html.twig' %}

{% block slider %}
{% endblock %}

{% block body %}
<div id="content">
        <!--Breadcrumb Part Start-->
        <div class="breadcrumb"><a href="index-2.html">Home</a> » <a href="sitemap.html">Site Map</a></div>
        <!--Breadcrumb Part End-->
        <h1>Site Map</h1>
        <div class="sitemap-info">
          <div class="left">
            <ul class="sitemap">
              </ul> 
          </div>
          <div class="right">
            <ul class="sitemap">
              <li><a href="#">Special Offers</a></li>
              <li><a href="#">My Account</a>
                <ul>
                  <li><a href="#">Account Information</a></li>
                  <li><a href="#">Password</a></li>
                  <li><a href="#">Address Book</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="#">Downloads</a></li>
                </ul>
              </li>
              <li><a href="#">Shopping Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="#">Search</a></li>
              <li>Information
                <ul>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="about-us.html">Delivery Information</a></li>
                  <li><a href="about-us.html">Privacy Policy</a></li>
                  <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--Middle Part End-->
      <div class="clear"></div>
    </div>
  </div>
    </div>
  
{% endblock %}