

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
	position: relative;
	float: left;
	font-size: 12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
	background:#ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E94242", endColorstr="#5A1414"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#E94242), to(#5A1414));
	background: -webkit-linear-gradient(#E94242, #5A1414);
	background: -moz-linear-gradient(#E94242, #5A1414);
	background: -o-linear-gradient(#E94242, #5A1414); 
	background: -ms-linear-gradient(#E94242, #5A1414); 
	background: linear-gradient(#E94242, #5A1414);
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#FFF; 
    font-size:14px; 
    font-weight:bold;
    padding:7px 29px 9px 10px;
    background:url(../images/loginArrow.png) no-repeat 95px 9px;
    display:block
}

#loginButton:hover {
	background:#ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5A1414", endColorstr="#E94242"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#5A1414), to(#E94242));
	background: -webkit-linear-gradient(#5A1414, #E94242);
	background: -moz-linear-gradient(#5A1414, #E94242);
	background: -o-linear-gradient(#5A1414, #E94242); 
	background: -ms-linear-gradient(#5A1414, #E94242); 
	background: linear-gradient(#5A1414, #E94242);
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:999;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:95px -72px;
}



/* Login Form */
#loginForm {
    width:240px; 
    /*border:1px solid #899caa;*/
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:4px;
	background:#852222;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
	font-weight:bold;
}

#loginForm #body fieldset label {
    display:block;
/*    float:none;*/
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    /*background:#339cdf url(../images/loginbuttonbg.png) repeat-x;*/
    color:#000;
    padding:7px 10px 8px 10px;
    /*text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;*/
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#FFF;
    font-size:12px;
	font-weight:bold;
}

input:focus {
    outline:none;
}