@charset "utf-8";
@import"reset.css";
.backred{
	background:url(tunisie_business_bg_gloss.png);
	border-bottom:1px solid #000;
}/*color red grossol & border bootom table*/
/*Menu*/
.sf-menu{float:left;padding-bottom:0px;}.sf-menu ul{position:absolute;top:-999px;display:none;}.sf-menu li{position:relative;float:left;}.sf-menu a{display:block;}.sf-menu li:hover ul,.sf-menu li.sfHover ul{z-index:399}ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999px;display:none;}ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:100%;top:0;}ul.sf-menu>li{display:inline-block;width:93px;height:101px;text-align:center;margin-left:0px;position:relative;}ul.sf-menu>li:first-child{margin-left:0px;}ul.sf-menu>li>a{font-family:'News Cycle',sans-serif;font-size:20px;line-height:20px;letter-spacing:0px;color:#7d594d;padding:56px 0px 0px 0px;height:45px;}ul.sf-menu>li.current>a,ul.sf-menu>li.sfHover>a,ul.sf-menu>li>a:hover{text-decoration:none;background:url(../images/roll.png) 0 0 no-repeat;color:#fff;}ul.sf-menu>li.current>a span,ul.sf-menu>li.sfHover>a span,ul.sf-menu>li>a:hover span{background:url(../images/cutmenu.png) 0 0 no-repeat;position:absolute;right:-12px;top:0;width:12px;height:12px;}ul.sf-menu>li>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li.sfHover>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li.current>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li>ul{width:93px;background:#734e42;padding:0px 0px 0px 0px;left:0px;top:101px;z-index:999;position:absolute;}ul.sf-menu>li>ul>li,ul.sf-menu>li.sfHover>ul>li{width:93px;text-align:left;}ul.sf-menu>li.sfHover>ul>li>a{border-top:1px dashed #9e857d;font-family:'News Cycle',sans-serif;font-weight:normal;font-size:15px;line-height:18px;color:#fff;padding:9px 0 9px 14px;display:block;}ul.sf-menu>li.sfHover>ul>li:first-child>a{border-top:none;}ul.sf-menu>li.sfHover>ul>li:hover,ul.sf-menu li.sfHover>ul>li.sfHover{}ul.sf-menu>li.sfHover>ul>li:hover>a,ul.sf-menu li.sfHover>ul>li.sfHover a{color:#fff;text-decoration:none;background:#ffcc01;}ul.sf-menu>li li>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li li.sfHover>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li li.current>a.sf-with-ul>span.sf-sub-indicator{}ul.sf-menu>li.sfHover>ul>li.sfHover>ul{left:93px;top:1px;width:93px;background:#ffcc01;padding:0px 0px 0px 0px;z-index:100;}ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li,ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li{width:93px;text-align:left;background:#ffcc01;}ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li>a{border-top:1px dashed #e2b653;font-family:'News Cycle',sans-serif;font-weight:normal;font-size:15px;line-height:18px;color:#fff;padding:9px 0 9px 14px;display:block;background:#ffcc01;}ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:first-child>a{border-top:none;}ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:hover{}ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li>a:hover{color:#fff;text-decoration:none;background:#734e42;}
/*Grid*/
.container_12{margin-left:auto;margin-right:auto;width:960px;position:relative;}
.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin:0 10px}
.grid_1,.grid_2,{display:inline;position:relative;margin:0 10px}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_12 .grid_1{width:600px; float:left;margin-left: 10px;}
.container_12 .grid_2{width:320px; float:right;}
.container_12 .grid_3{width:220px}
.container_12 .grid_4{width:600px}
.container_12 .grid_5{width:380px}
.container_12 .grid_6{width:460px}
.container_12 .grid_7{width:540px}
.container_12 .grid_8{width:320px}
.container_12 .grid_9{width:700px}
.container_12 .grid_10{width:780px}
.container_12 .grid_11{width:860px}
.container_12 .grid_12{width:940px}
.container_12 .prefix_1{padding-left:80px}
.container_12 .prefix_2{padding-left:160px}
.ontainer_12 .prefix_3{padding-left:240px}
.container_12 .prefix_4{padding-left:320px}
.container_12 .prefix_5{padding-left:400px}
.container_12 .prefix_6{padding-left:480px}
.container_12 .prefix_7{padding-left:560px}
.container_12 .prefix_8{padding-left:640px}
.container_12 .prefix_9{padding-left:720px}
.container_12 .prefix_10{padding-left:800px}
.container_12 .prefix_11{padding-left:880px}
.container_12 .suffix_1{padding-right:80px}
.container_12 .suffix_2{padding-right:160px}
.container_12 .suffix_3{padding-right:240px}
.container_12 .suffix_4{padding-right:320px}
.container_12 .suffix_5{padding-right:400px}
.container_12 .suffix_6{padding-right:480px}
.container_12 .suffix_7{padding-right:560px}
.container_12 .suffix_8{padding-right:640px}
.container_12 .suffix_9{padding-right:720px}
.container_12 .suffix_10{padding-right:800px}
.container_12 .suffix_11{padding-right:880px}
.container_12 .push_1{left:80px}
.container_12 .push_2{left:160px}
.container_12 .push_3{left:240px}
.container_12 .push_4{left:320px}
.container_12 .push_5{left:400px}
.container_12 .push_6{left:480px}
.container_12 .push_7{left:560px}
.container_12 .push_8{left:640px}
.container_12 .push_9{left:720px}
.container_12 .push_10{left:800px}
.container_12 .push_11{left:880px}
.container_12 .pull_1{left:-80px}
.container_12 .pull_2{left:-160px}
.container_12 .pull_3{left:-240px}
.container_12 .pull_4{left:-320px}
.container_12 .pull_5{left:-400px}
.container_12 .pull_6{left:-480px}
.container_12 .pull_7{left:-560px}
.container_12 .pull_8{left:-640px}
.container_12 .pull_9{left:-720px}
.container_12 .pull_10{left:-800px}
.container_12 .pull_11{left:-880px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;height:0}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  src: local('News Cycle Regular'), local('NewsCycle-Regular'), 
  url(../fonts/new_cycle.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
  url(../fonts/Open_Sans_Condensed.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
  url(../fonts/open_sans2.woff) format('woff');
}
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html, body { padding:0; margin:0;height:100%;}
body { 	 
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px; 
	line-height:21px;
	color:#a39e7d;
	min-width:1094px;
	background: url(../images/TunisieBusinessBack.jpg) fixed;
    background-attachment:fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
	position:relative;
	margin:0 auto;
	padding-bottom:50px;
}
/*  Header styles */
h1{line-height:1.3em;font-size:26px; font-family:Arial, Helvetica, sans-serif;color: black; padding: 8px 0px 0px 100px;}
h2,h3,h4,h5,h6{line-height:1.3em;color:#754f44;font-family: 'Open Sans Condensed', sans-serif; text-transform:uppercase;}
h1{font-size:26px;}
h2{font-size:24px;}
h3{font-size:22px; line-height:27px;} 
h4{font-size:20px; line-height:24px;}  
h5{font-size:18px;}
h6{font-size:16px;}
h7{line-height:1.3em;font-size:26px; font-family:Arial, Helvetica, sans-serif;color: black; padding: 8px 0px 0px 100px;}
h8{line-height:1.3em;color:#754f44;font-family: 'Open Sans Condensed', sans-serif; text-transform:uppercase;}

.courch{/*cour de change*/
	margin: 70px 0px 0px -390px;
	float: left;
	text-transform: none;
	color: #b0152a;
	font-size: 15px;
	font-weight: bold;
}

.white-shape { background:url(../images/white_shape.jpg) 0 0px repeat; width:960px; padding:1px 20px 0px 20px; margin:0 auto;  position:relative; margin-top:20px; box-shadow: 4px -4px 10px #888888; border-radius:10px;}

a {text-decoration:none; cursor:pointer; color:#000066;}
a:hover {text-decoration:none; color:#0000FF;}

a.link {cursor:pointer; color:#6d6a57; display:inline-block; text-decoration:none;}
a.link:hover { text-decoration:underline; }

a.link2 {cursor:pointer; color:#765145; display:inline-block; text-decoration:underline;}
a.link2:hover { text-decoration:none;}

a.link3 {cursor:pointer; color:#7d594d; display:inline-block;  text-decoration:underline; }
a.link3:hover { text-decoration:none;}

a.link4 {cursor:pointer; color:#635c31; display:inline-block; text-decoration:none; }
a.link4:hover {  text-decoration:underline;}

a.link5 {cursor:pointer; color:#7f4339; display:inline-block; text-decoration:none;}
a.link5:hover { text-decoration:underline; }

.colorpr {color:#635c31;}

a.button-1 {cursor:pointer; color:#f8f4dc; text-decoration:none; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; text-transform:uppercase; font-size:14px; line-height:17px; padding:8px 34px 8px 34px; background:url(../images/more_shape.jpg) 0 0 repeat;  border-radius:3px; display:inline-block;  -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}
a.button-1:hover { background:#ec1817; color:#754f44;  -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}

.lsp {letter-spacing:-1px !important;}

.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.container {width:100%;}
.reg {text-transform:uppercase;}
.right {text-align:right;}
.left {text-align:left;}
.center {text-align:center;}
.fleft {float:left;}
.fright {float:right;}

.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}

.img-indent {float:left; margin:-10px 19px 0px 0px;}
.img-indent2 {float:left; margin:1px 13px 0px 26px;}
.img-indent3 {float:left; margin:-5px 57px 0px 0px;}
.img-indent4 {float:left; margin:4px 57px 0px 0px;}
.img-indent5 {float:left; margin:6px 15px 0px 30px;}
.img-indent6 {float:left; margin:-4px 20px 0px 0px;}
.img-indent7 {float:left; margin:5px 25px 0px 30px;}
.img-indent8 {float:left; margin:12px 24px 0px 30px;}

.last1 {
	padding-bottom:0 !important;
}

/*header*/
header {width:100%; margin:0 auto; z-index:299; position:relative;}
.head-content {width:960px; margin:0 auto; z-index:299; position:relative;  }
.logo {z-index:199; position:relative; display:block;}
.logo>p { font-family: 'News Cycle', sans-serif; font-size:14px; line-height:17px; color:#c2ac83; text-transform:uppercase;  margin-left:389px;}
header h1 { margin-top:102px; padding-bottom:0px; margin-left:319px; z-index:199;}
.menu { display:block; z-index:299; margin-left:327px; top:-115px; position:absolute;}
nav {  z-index:101; margin-right:0px;}

.slider-block {  width:940px; margin-left:10px; z-index:200; height:470px; margin-top:27px; overflow:hidden;}

*{padding:0;margin:0;}.slider{width:940px;height:470px;position:relative;z-index:1;float:left;}.items{display:none;}.pags{position:absolute;top:575px;left:328px;z-index:999;}.pags li{float:left;margin-left:5px;height:10px;}.pags li a{background:url(../images/pag_slider.png) 0px 0px no-repeat;width:53px;display:block;height:10px;}.pags li.current a,.pagination li:hover a{background-position:0 -15px;}
.shad {text-shadow:1px 1px 1px #faf7e8;}

/*content*/
#content { padding-bottom:0px; z-index:99; position:relative; width:960px; }
.box-rech {float:left; width:600px; margin-left:0px; margin-top:20px; background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-cnx {float:right; width:325px; margin-left:0px; margin-top:20px; background:url(../images/block-1_shape.jpg) 0 0 repeat; }
.box-mfooter {float:left; width:940px; margin-top:1px; background:url(../images/menu2_shape.jpg) 0 0 repeat; }
.box-der-soc {width: 600px;margin-top: 20px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-9 {width: 295px;margin-top: 30px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-10 {width: 295px;margin-left: -95px;margin-top: 30px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-11 {width: 295px;margin-left: 305px;margin-top: -96px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-pub {margin-top: 20px; margin-left:35px;}
.box-pub2 {margin-top: 20px; margin-left:35px;}
.box-annonce {width:325px; margin-left:-5px; margin-top:-550px; background:url(../images/block-1_shape.jpg) 0 0 repeat; box-shadow: 2px 2px 10px #888888; }
.box-stand{margin-top: 20px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}
.box-actualite{width: 470px;margin-top: 20px;background:url(../images/block-1_shape.jpg) 0 0 repeat;}

.text-1 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#9a9785; line-height:20px; width:200px; margin-left:60px; margin-top:24px; }
.text-2 { font-family: 'Open Sans Condensed', sans-serif; font-size:20px; color:#aea580; line-height:24px; font-weight:700; text-transform:uppercase; }
.text-3 { font-family: 'Open Sans Condensed', sans-serif; font-size:21px; color:#734e42; line-height:26px; font-weight:700; }
.text-4 { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8c876e; line-height:14px;  margin-top:3px; }
.text-5 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#9a9785; line-height:20px; width:130px; }
.text-6 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#9a9785; line-height:20px; width:225px; margin-left:41px;}
.text-7 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#9a9785; line-height:20px; width:220px; margin-left:55px;}
.text-8 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#9a9785; line-height:20px; width:220px; margin-left:52px;}
.text-9 { font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#a39e7d; line-height:20px; width:130px; }

/*Réseaux Social*/
a.icon {background:url(../images/page1_icon_01.png) 0 0 no-repeat; width:40px; height:39px; display:inline-block;} 
a.icon:hover {background-position:0 -39px;}

.line-1 {width:90%; height:1px; background:#c03b29; margin-top:20px; margin-left:50px;}
.line-2 {width:100%; height:3px; background:#c03b29; margin-top:27px;}
.line-3 {width:100%; height:3px; background:#c03b29;}
.line-footer {width:100%; height:3px; background:#c03b29; margin-top:50px;}

.fixwid {width:220px;}
.arr1 {position:absolute; top:73px; right:0;}
.arr2 {position:absolute; top:79px; right:0;}

.marg0 {margin-left:0px !important;}
.marg1 {margin-left:80px; padding-bottom:27px;}
.marg2 {margin-top:31px;}
.marg3 {margin-top:47px;}
.marg4 {margin-top:39px;}
.marg5 {margin-top:6px;}
.marg6 {margin-top:14px;}
.marg7 {margin-top:45px;}
.marg8 {margin-top:24px;}
.marg9 {margin-top:42px;}
.marg10 {margin-top:34px;}
.marg11 {margin-top:27px;}
.marg12 {margin-top:30px;}
.marg13 {margin-top:9px;}
.marg14 {margin-top:21px;}
.marg15 {margin-top:50px;}
.marg16 {margin-top:15px;}
.marg17 {margin-top:43px;}
.marg18 {margin-top:37px !important;}
.marg19 {margin-top:-6px; margin-left:59px;}
.marg20 {margin-top:16px; margin-left:40px; padding-bottom:10px;}
.marg21 {margin-top:-6px; margin-left:54px; padding-bottom:24px;}
.marg22 {margin-top:11px;}
.marg23 {margin-top:-6px; margin-left:41px; padding-bottom:24px;}
.marg24 {margin-top:22px !important; margin-left:51px;}
.marg25 {margin-top:33px;}
.marg26 {margin-top:19px;}
.marg27 {margin-top:40px;}
.marg28 {margin-top:30px;}
.marg29 {margin-top:13px;}
.marg30 {margin-top:30px;}
.marg31 {margin-top:45px;}
.marg32 {margin-top:13px;}
.marg33 {margin-top:10px;}
.marg34 {margin-top:25px;}
.marg35 {margin-top:-7px;}
.marg36 {margin-top:27px;}
.marg37 {margin-top:25px;}
.marg38 {margin-top:7px;}
.marg39 {margin-top:28px;}
.marg40{margin-top:34px;}
.marg41 {margin-top:27px;}

.pad0 {padding-bottom:0px !important;}
.pad1 {padding-bottom:27px;}
.pad2 {padding-bottom:11px;}
.pad3 {padding-right:30px;}
.pad4 {padding-bottom:21px;}

.list1 { margin-top:32px;}
.list1 li a:hover {text-decoration:underline; color:#000;}
.list1 li {padding:0px 0 5px 24px; background:url(../images/marker_01.png) 1px 3px no-repeat; }
.list1 li a { font-size:11px; color:#765145; font-family:Tahoma, Geneva, sans-serif; text-decoration:none;  line-height:14px; text-transform:uppercase;
  -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}
  
.menu2 { }
.menu2 li.active a, .menu2 li a:hover {text-decoration:none; color:#704b3f;}
.menu2 li:first-child {background:none;}
.menu2 li {padding:10px 0 0px 11px; background:url(../images/linemenu2.png) 0px 0px no-repeat; float:left; height:38px; margin-right:12px;}
.menu2 li a { font-size:16px; color:#fffdf0; font-family: 'Open Sans Condensed', sans-serif; text-decoration:none;  line-height:20px; text-transform:uppercase; font-weight:700;
  -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}
/*footer*/
footer {
	width:100%;
	margin:0 auto;
	position:relative;
	z-index:102;	
}
footer a {text-decoration:none; cursor:pointer;color:#5d5d5c;}
footer a:hover {text-decoration:underline;}

footer .foot-textr { font-size:15px; color:#970001; margin-left:0px; font-family: 'Open Sans Condensed', sans-serif; padding-top:10px;font-weight:bold; display:block;line-height:10px;}
footer .foot-text { font-size:15px; color:#970001; margin-left:0px; font-family: 'Open Sans Condensed', sans-serif; padding-top:10px; padding-bottom:10px; text-align:center; font-weight:bold; display:block;line-height:21px;}
footer .foot-text img {margin-top:4px; }
footer .foot-text a {cursor:pointer; color:#5d5d5c; text-decoration:none;}
footer .foot-text a:hover { text-decoration:underline; }
footer .menuf{margin-top: 10px; padding-left: 50px; font-size: 15px;}

/*form*/
.map {width:300px; height:280px; margin-top:29px; display:block; float:left;}
.map iframe {	
  width:300px;
  height:280px;
}

.dl1 {margin:13px 0 0px 0px; }
.dl1 dt { padding:0px 0 0px 0;}
.dl1 dd span { display:inline-block; width:74px;}
.dl1 dd { }

.btns {
	text-align:right;
	width:516px;
	position:relative;
	padding-top:30px;
	overflow:hidden;
}
.btns a {
	margin: 0px 0px 0px 20px;
}

.p6 {margin-bottom:45px;}

.button_rech{
	color: #3F3731;
	font-size: 16px;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #656565;
	background:#ffffff;
	height:25px;
	width:110px;
}

.button_rech:hover {
	color: #3F3731;
	font-size: 16px;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #656565;
	background:#ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cb1414"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#cb1414), to(#ffffff));
	background: -webkit-linear-gradient(#cb1414, #ffffff);
	background: -moz-linear-gradient(#cb1414, #ffffff);
	background: -o-linear-gradient(#cb1414, #ffffff); 
	background: -ms-linear-gradient(#cb1414, #ffffff); 
	background: linear-gradient(#cb1414, #ffffff);
	height:25px;
	width:110px;
	cursor:pointer;
}

/*table*/
.tabinsc {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabinsc table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabinsc tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabinsc td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}

<!--tttttt-->
.tabsoc {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabsoc table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabsoc tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabsoc td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	border-bottom:1px solid black;
}
.tabsoc tr:first-child td{
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
}
<!--tab fiche société-->
.tabsuiv {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabsuiv table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabsuiv tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabsuiv td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:12px;
	font-family:Verdana;
	font-weight:bold;
}
.tabsuiv tr:first-child td{
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png)
}
<!--tab adresse société-->
.tabadr {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabadr table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabadr tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabadr td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:12px;
	font-family:Verdana;
	color: brown;
}
.tabadr tr:first-child td{
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png)
}
<!--PUB SLIDE-->
#carousel1 {
	width:320px;
	height:218px;
	overflow:scroll;
	border:2px solid #999;
	margin: 0px 0px 0px 3px;
}
.textholder {
	text-align:left;
	font-size:small;
	padding:6px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;	
	-webkit-border-top-right-radius: 6px;
}
/* Social widget */
#widget-header {
	width: 1000px;
	text-align: right;
	margin: auto;
	padding-top: 15px;
} 
.social-networks {
	padding:0;
}
.social-networks li {
	padding:0 0 5px 0;
	background:none;
	border: none;
	position: relative;
}
.social-networks li.display-icons {
	display:inline-block;
	padding:0;
	margin:0 2px;
}
	.social-networks li .hr-img {
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		z-index: 5;
		width:38px;
		height:38px;
	}
	.social-networks li a:hover .hr-img {
		display: block;
	}
	.social-networks li.display-icons a img {
		margin:0;
	}
	.social-networks li a {
		display:inline-block;
		line-height:38px;
	}
		.social-networks li a:hover {
			text-decoration:none;
		}
	.social-networks li a img {
		margin:0 5px 0 0;
		width:38px;
		height:38px;
	}	
<!--Social Network suivi Fiche Société-->
.sharing-cl{
	  overflow:hidden;
	  margin:0;
	  padding:0;
	  list-style:none;
	}
	.sharing-cl a{
	  overflow:hidden;
	  width:60px;
	  height:30px;
	  float:left;
	  margin-right:5px;
	  text-indent:-200px;
	  background:url(../images/share-sprite.png) no-repeat;
	}
	a.sh-su{background-position:-210px -40px;}
	a.sh-feed{background-position:-70px -40px;}
	a.sh-tweet{background-position:-140px -40px;}
	a.sh-mail{background-position:0 -40px;}
	a.sh-digg{background-position:-280px -40px;}
	a.sh-face{
	  margin-right:0;
	  background-position:-350px -40px;
	}
	a.sh-mail:hover{background-position:0 1px;}
	a.sh-feed:hover{background-position:-70px 1px;}
	a.sh-tweet:hover{background-position:-140px 1px;}
	a.sh-su:hover{background-position:-210px 1px;}
	.sh-digg:hover{background-position:-280px 1px;}
	a.sh-face:hover{
	  background-position:-350px 1px;
	}
 
	#texto{
	  font-weight:bold;
	  font-family:helvetica,arial,sans-serif;
	}
	#texto a{
	  text-indent:0;
	  height:auto;
	  text-align:center;
	  font-size:11px;
	  padding-top:35px;
	  color:#999;
	  text-decoration:none;
	}
.question {
position: absolute;
display: inline;
text-align: center;
width: 174px;
height: 78px;
font-size: 13px;
line-height: 1.5em;
background: url('../images/bubble.png') left top no-repeat;
padding: 10px 0 0 0;
text-shadow: 0px 1px 0px #fff;
margin-left: -7em;
margin-top: -6em;
opacity: 0;
}
.yes{
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #434d17;
text-shadow: 0px 1px 0px #fff;
background: url('../images/buttony.png') left top no-repeat;
}
.cancel {
margin-top: .5em;
margin-right: .5em;
cursor: pointer;
display: inline-block;
width: 63px;
height: 21px;
color: #fff;
text-shadow: 0px 1px 0px #000;
background: url('../images/buttonn.png') left top no-repeat;
}
<!--table liste categorie-->
.tabaff {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabaff table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabaff tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabaff td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}
.tabaff tr:first-child td{
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
}

<!--TAB PUB RESERV-->
.tabreserv {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabreserv table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabreserv tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabreserv td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	border:1px solid black;
}
.tabreserv tr:first-child td{
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
}

<!--Msg aff-->
.warning_box{width:540px;clear:both;background:url(../images/icons/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.valid_box{width:540px;clear:both;background:url(../images/icons/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.error_box{width:540px;clear:both;background:url(../images/icons/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

<!--Annonce table ajax-->
.tabannonce {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabannonce table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabannonce tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabannonce td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	border-bottom:1px solid black;
}
<!--nothing tab-->
.tabnone {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 10px #888888;
	border:1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.tabnone table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tabnone tr:hover td{
	background-color:#eeeeee;
	text-decoration:none;
}
.tabnone td{
	background-color:#eeeeee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	border-bottom:1px solid black;
}
/*Annonces */
.st {
 font-weight:bold;
 font-size:12px; 
}
.st>a {
 color:#e826ba; 
}
.st>a:hover {
 text-decoration:underline;
}
.ht {
 font-weight:bold;
 font-size:12px; 
}
.ht>a {
 color:#5800c9;
}
.ht>a:hover {
 text-decoration:underline;
}
.md {
 font-weight:bold;
 font-size:12px; 
}
.md>a {
 color:#fe7701; 
}
.md>a:hover {
 text-decoration:underline;
}
.se {
 font-weight:bold;
 font-size:12px; 
}
.se>a {
 color:#025696; 
}
.se>a:hover {
 text-decoration:underline;
}
.im {
 font-weight:bold;
 font-size:12px; 
}
.im>a {
 color:#609c09; 
}
.im>a:hover {
 text-decoration:underline;
}
.am {
 font-weight:bold;
 font-size:12px; 
}
.am>a {
 color:#ce2625; 
}
.am>a:hover {
 text-decoration:underline;
}
.n {
 font-size:11px; 
}
.n>a {
 color:#232323; 
}
.n>a:hover {
 color:#636361; 
 text-decoration:underline;
}
.ins{
 font-size:12px;
 font-weight:bold;
}
.ins>a {
 color:#460103;
}
.ins>a:hover {
 color:#7d020c;
}
.mdp{
 font-size:12px;
 font-weight:bold;
}
.mdp>a {
 color:#460103;
 margin: 0px 0px 0px 20px;
}
.mdp>a:hover{
 color:#7d020c;
}
/*annonce en avant*/
.annonavant{
	border: 1px solid #000;
	width: 48%;
	height: 80px !important;
	line-height:16px;
	float: left;
	color: brown;
	text-shadow: brown 0px 0px;
	margin-right:5px;
	margin-top: 5px;
	margin-left:5px; "
}
/*button ESPCE PRO*/
.button_es_pro{
	color:#B6A9A0;
	cursor:pointer;
	font-size: 14px;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #656565;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
	height:25px;
	padding: 0px 4px 0px 4px;
}

.button_es_pro:hover {
	color:#FFF;
	font-size: 14px;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #656565;
	background:url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
	height:25px;
	padding: 0px 4px 0px 4px;
}
/*Espace pro*/
.espace_pro img{
	width: 180px;
	height: 125px;
}
.espace_pro2 img{
	width: 150px;
	height: 100px;
}
.descbull{
	background-color: #eeeeee;
	text-align: justify;
	color: #754f44;
	font-weight: bold;
	font-size: 11px;
}
/*button to top*/
#toTop{display:none;
text-decoration:none;
position:fixed;
bottom:20px;
overflow:hidden;
width:43px;
height:43px;
border:none;
text-indent:-999px;
z-index:999;
background:url(../images/ui.totop.png) no-repeat 0 bottom;
}
#toTop:hover{outline:none;background-position:0 0px;}

#toAnnon{display:none;
text-decoration:none;
position:fixed;
bottom:20px;
overflow:hidden;
width:43px;
height:43px;
border:none;
text-indent:-999px;
z-index:999;
background:url(../images/annonce_tunisie.gif) no-repeat 0 bottom;
}
#toAnnonHover:hover{outline:none;background-position:0 0px;}
/*Forms*/
#pro_contact-form{line-height:18px;}
#pro_contact-form label{min-height:40px;position:relative;display:block;}
#pro_contact-form input,#pro_contact-form textarea{border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;width:270px;}
#pro_contact-form textarea{resize:none;overflow:auto;height:170px;}
#pro_contact-form .pro_buttons{position:relative;padding:20px 0 0 0;text-align:right;}#pro_contact-form .pro_buttons span{display:inline-block;margin-right:15px;}
#pro_contact-form .success,#pro_contact-form .error,#pro_contact-form .empty{display:none;text-align:left;}
#pro_contact-form .error,#pro_contact-form .empty{position:relative;color:red;font-size:11px;top:0px;left:10px;}
#pro_contact-form .success,#pro_contact-form .success strong{color:#000;background:none;box-shadow:none;}
#pro_contact-form .success{padding-bottom:5px;-pie-background:none;}

#pro_form1{background: #eeeeee;}
#pro_form1 label{display:block;position:relative;min-height:40px;margin-left: 20px;}
#pro_form1 span{display:block;position:relative;min-height:30px;font-size: 14px;font-weight: bold;color: #1c94c4;}
#pro_form1 input[type="text"]{border-radius:3px;width:300px;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_form1 input[type="password"]{border-radius:3px;width:300px;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_form1 input[type="radio"]{margin:5px 0 0;}
#pro_form1 input[type="checkbox"]{margin:3px 0 0;}
#pro_form1 textarea{resize:none;border-radius:3px;height:180px;overflow:auto;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:300px;overflow:hidden;}
#pro_form1 select{width:300px;border:1px solid #ddd;padding:5px;border-radius:3px;}
#pro_form1 span.pro_text-form{display:inline-block;padding:5px 0 0;min-width:80px;}
#pro_form1 div.pro_text-form{padding:5px 0 10px 0;}
#pro_form1 .pro_text-form2{margin:2px 10px 0 8px;display:inline-block;}
#pro_form1 .pro_text-form3{margin:7px 0px 0 8px;display:inline-block;}
#pro_form1 .pro_btns{padding:10px 0 0 0;}
#pro_form1 input[type="submit"]{color:#ffffff;	-moz-box-shadow: 0px 0px 10px #343434;	-webkit-box-shadow: 0px 0px 10px #343434;	-o-box-shadow: 0px 0px 10px #343434;	box-shadow: 0px 0px 10px #343434;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	border-radius: 5px;	border: 1px solid #656565;	background:#a70909;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a70909", endColorstr="#cb1414"); 
	background: -webkit-gradient(linear, left top, left bottom, from(#a70909), to(#cb1414));	background: -webkit-linear-gradient(#a70909, #cb1414);	background: -moz-linear-gradient(#a70909, #cb1414);	background: -o-linear-gradient(#a70909, #cb1414); 	background: -ms-linear-gradient(#a70909, #cb1414); 	background: linear-gradient(#a70909, #cb1414);	height:25px;	width:130px;}
#pro_form1 input[type="submit"]:hover{	color:#ffffff;	-moz-box-shadow: 0px 0px 10px #343434;	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;	box-shadow: 0px 0px 10px #343434;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;
	border-radius: 5px;	border: 1px solid #656565;	background:#a70909;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a70909", endColorstr="#cb1414"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#cb1414), to(#a70909));
	background: -webkit-linear-gradient(#cb1414, #a70909);
	background: -moz-linear-gradient(#cb1414, #a70909);
	background: -o-linear-gradient(#cb1414, #a70909); 
	background: -ms-linear-gradient(#cb1414, #a70909); 
	background: linear-gradient(#cb1414, #a70909);
	height:25px;
	width:135px;
	cursor:pointer;}

#pro_form2{line-height:18px;}
#pro_form2 label{display:block;position:relative;min-height:40px;}
#pro_form2 input[type="text"]{border-radius:3px;width:180px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_form2 textarea{resize:none;border-radius:3px;height:120px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);overflow:auto;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px;}
#pro_form2 span.pro_text-form{display:inline-block;padding:5px 0 0;min-width:80px;}
#pro_form2 div.pro_text-form{padding:5px 0 10px 0;min-width:90px;}
#pro_form2 .pro_text-form2{margin:3px 0 0 5px;}
#pro_form2 .pro_text-form3{padding:8px 0px 5px 5px;}
#pro_form2 .pro_btns{padding:10px 0 0 0;}.pro_pad-form{padding-top:5px;}.pro_pad-form2{padding-top:25px;}
#pro_form2 .jqTransformSelectWrapper{position:relative;float:left;width:194px!important;}
#pro_form2 .jqTransformSelectWrapper div span{display:block;float:none;width:184px!important;background:#fff;position:relative;white-space:nowrap;overflow:hidden;cursor:pointer;border:1px solid #ddd;padding:5px;border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper a.jqTransformSelectOpen{display:block;position:absolute;right:2px;top:4px;width:22px;height:21px;background:url(../images/pro_images/select.png) no-repeat 0 0;}
#pro_form2 .jqTransformSelectWrapper a.jqTransformSelectOpen:hover{background-position:0 -21px;}
#pro_form2 .jqTransformSelectWrapper ul{position:absolute;top:31px;left:0px;background-color:#FFF;display:none;margin:0px;padding:0px;overflow:auto;overflow-y:auto;z-index:10;border:1px solid #ddd;width:194px!important;border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper ul a{display:block;padding:5px;color:#000;font-size:12px;padding-left:12px;}
#pro_form2 .jqTransformSelectWrapper ul a.selected{color:#B94A48;}
#pro_form2 .jqTransformSelectWrapper ul a:hover,#pro_form2 .jqTransformSelectWrapper ul a.selected:hover{color:#fff;background:#ddd;text-decoration:none;}#pro_form2 .jqTransformRadioWrapper{float:left;display:block;margin:5px 0 0;}
#pro_form2 .jqTransformRadio{background:transparent url(../images/pro_images/radio.png) 0 0px no-repeat;vertical-align:middle;height:16px;width:16px;display:block;}
#pro_form2 a.jqTransformChecked{background:transparent url(../images/pro_images/radio.png) 0 -17px no-repeat;}
#pro_form2 span.jqTransformCheckboxWrapper{display:block;float:left;padding:10px 0 0 0;}
#pro_form2 a.jqTransformCheckbox{background:transparent url(../images/pro_images/checkbox.png) 0 0px no-repeat;vertical-align:middle;height:15px;width:15px;display:block;}
#pro_form2 .jqTransformCheckboxWrapper a.jqTransformChecked{background:transparent url(../images/pro_images/checkbox.png) 0 -16px no-repeat;}
#pro_form2 .jqTransformHidden{display:none;}
#pro_search,#pro_subscribe{vertical-align:middle;line-height:18px;}
#pro_search input,#pro_subscribe input{width:180px;border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial,Helvetica,sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_search .pro_btn,#pro_subscribe .pro_btn{padding:7px 10px;margin-top:-1px;}
#pro_log_in{vertical-align:middle;line-height:18px;}
#pro_log_in input{width:90px;border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_log_in .pro_btn{padding:7px 10px;margin-top:-1px;}
#pro_log_in2{vertical-align:middle;padding:10px 0 0 0;width:274px;line-height:18px;}
#pro_log_in2 label{display:block;min-height:40px;}
#pro_log_in2 input{width:258px;border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#pro_log_in2 .pro_btn{padding:7px 10px;}
#pro_log_in2 .pro_buttons{text-align:right;padding:5px 0;}
#pro_newsletter{vertical-align:middle;padding:30px 0 0 0;line-height:18px;}
#pro_newsletter input{width:376px;border-radius:2px 0 0 2px;color:#8b8b8b;background:#eeeeee;border:1px solid #cdcdcd;border-right:none;padding:9px;font-family:Arial,Helvetica,sans-serif;font-size:13px;vertical-align:middle;font-weight:normal;margin:0;outline:none;overflow:hidden;min-height:16px;}
#pro_newsletter .pro_btn{padding:9px 15px 10px;margin-top:0;margin-left:0;box-shadow:none;border-radius:0 2px 2px 0;border:1px solid #cdcdcd;}
#pro_newsletter .pro_btn:hover{background:#E0E0E0;background:-webkit-linear-gradient(top,#E0E0E0,white);background:-moz-linear-gradient(top,#E0E0E0,white);background:-ms-linear-gradient(top,#E0E0E0,white);background:-o-linear-gradient(top,#E0E0E0,white);-pie-background:linear-gradient(top,#E0E0E0,white);}
#pro_newsletter .error,#pro_newsletter .empty{display:block;overflow:hidden;height:0px;font-size:10px;color:#F00;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
#pro_newsletter label.invalid .error{height:19px;}
#form{margin:29px 0 0px 0px;width:540px;}
#form input{border:1px solid #dcdacb;background:#ffffff;font-family:Tahoma,Geneva,sans-serif;font-size:13px;height:17px;line-height:17px;color:#a39e7d;padding:8px 4px 9px 18px;outline:medium none;width:197px;float:left;}
#form textarea{border:1px solid #dcdacb;background:#ffffff;font-family:Tahoma,Geneva,sans-serif;font-size:13px;color:#a39e7d;height:215px;outline:medium none;line-height:17px;overflow:auto;padding:16px 4px 5px 18px;width:516px;resize:none;margin:0px 0 0 0;float:left;}
#form label{position:relative;display:block;min-height:55px;}
#form .error,#form .empty{color:#F00;display:none;font-size:11px;line-height:14px;float:left;}
#form .error-empty{margin:4px 0 5px 7px!important;display:none;float:left;width:250px;}
#form .success{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EDE9E6;display:none;height:144px;position:absolute;width:219px;z-index:1;}
#form .success .success_txt{color:#000;position:relative;text-align:center;top:31%;}
#form .message .error,#form .message .empty{left:4px;top:220px;position:absolute;}

#rech_form {
}
#rech_form label{display:block;position:relative;margin-left: 30px;}
#rech_form span{display:block;position:relative;font-size: 14px;font-weight: bold;color: #1c94c4;}
#rech_form input[type="text"]{border-radius:3px;width:300px;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#rech_form input[type="password"]{border-radius:3px;width:300px;font-family:Arial,Helvetica,sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
#rech_form input[type="radio"]{margin:5px 0 0;}
#rech_form input[type="checkbox"]{margin:10px 0 0;}
#rech_form select{width:300px;border:1px solid #ddd;padding:5px;border-radius:3px;}
#rech_form span.pro_text-form{display:inline-block;padding:5px 0 0;min-width:80px;}
#rech_form div.pro_text-form{padding:5px 0 10px 0;}
#rech_form .pro_text-form2{margin:2px 10px 0 8px;display:inline-block;}
#rech_form .pro_text-form3{margin:7px 0px 0 8px;display:inline-block;}
#rech_form .pro_btns{padding:10px 0 0 0;}
#rech_form input[type="submit"]{
	color:#ffffff;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	border-radius: 5px;
	border: 1px solid #656565;	background:#a70909;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a70909", endColorstr="#cb1414"); 
	background: -webkit-gradient(linear, left top, left bottom, from(#a70909), to(#cb1414));
	background: -webkit-linear-gradient(#a70909, #cb1414);
	background: -moz-linear-gradient(#a70909, #cb1414);
	background: -o-linear-gradient(#a70909, #cb1414); 	background: -ms-linear-gradient(#a70909, #cb1414); 
	background: linear-gradient(#a70909, #cb1414);
	height:25px;
	width:130px;
	margin: 5px 80px 0px 0px;}
#rech_form input[type="submit"]:hover{
	color:#ffffff;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	border: 1px solid #656565;
	background:#a70909;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a70909", endColorstr="#cb1414"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#cb1414), to(#a70909));
	background: -webkit-linear-gradient(#cb1414, #a70909);
	background: -moz-linear-gradient(#cb1414, #a70909);
	background: -o-linear-gradient(#cb1414, #a70909); 
	background: -ms-linear-gradient(#cb1414, #a70909); 
	background: linear-gradient(#cb1414, #a70909);
	height:25px;
	width:130px;
	cursor:pointer;}